:root {
    --global-bg-color: #0B0C10;
    --global-text-color: #fff;
    --global-text-color-secondary: #a1a1a1;

    --global-underline-color: #fff;
    --global-border-color: #7c7c7c33;
    --global-error-color: #b00101;
    
    --global-max-width: 1024px;
    --global-nav-height: 44px;

    --font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --font-sans: Quicksand, var(--font-system);

    --font-size-text-2xl: 30px;
    --font-size-text-xl: 24px;
    --font-size-text-l: 20px;
    --font-size-text: 16px;
    --font-size-text-s: 14px;
    --font-size-text-xs: 12px;
    --font-size-text-xxs: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    font-family: var(--font-sans);
    background-color: var(--global-bg-color);
    color: var(--global-text-color);
    overflow-x: hidden;
}
[data-headline] {
    font-size: var(--font-size-text-2xl);
    font-weight: 600;
}
[data-text] {
    font-size: var(--font-size-text);
    font-weight: 400;
}
[data-link] {
    cursor: pointer;
    color: var(--global-text-color);
    text-decoration: none;
}
[data-link~=text] {
    text-decoration: underline;
    -webkit-text-decoration-color: var(--global-underline-color);
    text-decoration-color: var(--global-underline-color);
    text-decoration-thickness: 1px;
    text-underline-offset: 2.5px;
}
[data-glass] {
    --blur: 12px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(var(--blur));
    border-radius: 16px;
    -webkit-backdrop-filter: blur(var(--blur));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
